.header {
    width: 60vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color);
    background-color: var(--background-color);
}

@media (max-width: 700px) {
    .header {
        width: 95vw;
    }
}
