.form {
    position: relative;

    width: 60vw;
    height: 5rem;

    display: flex;
}

.itemInput {
    flex: 1;

    padding: 1rem;

    border-radius: 10px;
}

.addItemButton {
    position: absolute;
    right: 0;

    width: 5rem;
    height: 5rem;

    cursor: pointer;

    border-radius: 10px;
}
