.listOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 10px;

    color: var(--color);
    background-color: var(--highlight-color);
}

.section {
    width: 60vw;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.radioLabel {
    cursor: pointer;
}

.radioLabelSelected {
    text-decoration: underline 2px;
}

.radioInput {
    display: none;
}

.actionButton {
    padding: 0.5rem;

    cursor: pointer;

    border: solid 2px var(--color);
    border-radius: 10px;

    color: var(--color);
    background-color: var(--highlight-color);
}

.actionButton:hover {
    color: var(--highlight-color);
    background-color: var(--color);
}
