.listOptions {
    display: flex;

    border: none;
    border-radius: 10px;

    color: var(--color);
    background-color: var(--highlight-color);

    box-shadow: var(--shadow);
}

.searchSection {
    flex: 1;

    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchInput {
    max-width: 100%;
    height: 3rem;

    padding: 1rem;

    text-align: center;

    outline: solid 2px var(--highlight-color);
    outline-offset: 0;

    border: none;
    border-radius: 10px;

    color: var(--color);
    background-color: var(--highlight-color);

    transition: color 0.2s, outline-color 0.2s, border-color 0.2s;
}

.searchInput[data-empty='false'] {
    outline-color: var(--color);
}

.searchInput:focus-within,
.searchInput:hover {
    outline-color: var(--selected);
    color: var(--selected);
}

.filterSection {
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.filterButton {
    position: relative;

    cursor: pointer;

    border: none;

    color: var(--color);
    background: none;

    transition: color 0.2s;
}

.filterButton:focus-visible,
.filterButton:hover {
    color: var(--selected);
}

.filterButton::after {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    content: '';

    background-color: var(--color);

    transform: scaleX(0);

    transition: transform 0.3s, background-color 0.2s;
}

.filterButton:focus-visible::after,
.filterButton:hover::after {
    background-color: var(--selected);
}

.filterButton[data-selected='true']::after {
    transform: scaleX(1);
}

.actionSection {
    flex: 1;

    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.actionButton {
    padding: 0.5rem;

    cursor: pointer;

    border: solid 2px var(--color);
    border-radius: 10px;

    color: var(--color);
    background: none;

    transition: color 0.2s, border-color 0.2s;
}

.actionButton:focus-visible,
.actionButton:hover {
    color: var(--selected);
    border-color: var(--selected);
}

.clearAllButton:focus-visible,
.clearAllButton:hover {
    color: var(--red);
    border-color: var(--red);
}

@media (max-width: 700px) {
    .clearAllButton {
        color: var(--red);
        border-color: var(--red);
    }
}
