.todoOptionsSection {
    width: 50vw;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    border-radius: 5px;

    background-color: lightgray;
}

.listFilters {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filterButton {
    cursor: pointer;

    text-decoration: underline 2px;

    border: none;

    background: none;
}

.clearButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.clearButton {
    cursor: pointer;

    text-decoration: underline 2px;

    border: none;

    background: none;
}
