.item {
    position: relative;

    width: 60vw;
    height: 5rem;

    display: flex;
    align-items: center;

    border-radius: 10px;

    color: var(--color);
    background-color: var(--highlight-color);

    box-shadow: var(--shadow);
}

.completeItemButton {
    position: absolute;
    left: 0.5rem;

    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: none;
    border-radius: 10px;

    background: none;
}

.completeItemButton[disabled] {
    cursor: default;
}

.completeItemIcon {
    width: 4rem;
    height: 4rem;

    font-size: 4rem;

    border-radius: 10px;

    color: var(--highlight-color);
    background-color: var(--color);
}

.completeItemButton:hover .completeItemIcon {
    background-color: var(--selected);
}

.itemName {
    padding: 1rem 6rem;
}

.removeItemButton {
    position: absolute;
    right: 0.5rem;

    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: none;
    border-radius: 10px;

    background: none;

    transform: scale(0);
    transform-origin: right;

    transition: transform 0.3s;
}

.item:hover .removeItemButton {
    transform: scale(1);
}

.removeItemIcon {
    width: 4rem;
    height: 4rem;

    font-size: 4rem;

    border-radius: 10px;

    color: var(--highlight-color);
    background-color: var(--color);
}

.removeItemButton:hover .removeItemIcon {
    background-color: var(--red);
}
