.item {
    position: relative;

    width: 60vw;
    height: 5rem;

    display: flex;
    align-items: center;

    border: solid 1px lightgray;
    border-radius: 10px;
}

.checkBox {
    position: absolute;
    left: 0;

    width: 5rem;
    height: 5rem;

    cursor: pointer;

    border-radius: 10px;
}

.itemName {
    padding: 1rem 6rem;
}

.removeItemButton {
    position: absolute;
    right: 0;

    width: 5rem;
    height: 5rem;

    cursor: pointer;

    border-radius: 10px;
}
