.footer {
    width: 60vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color);
    background-color: var(--background-color);
}

.copyright {
    font-size: 12px;
}

@media (max-width: 700px) {
    .footer {
        width: 95vw;
    }
}
