.todoForm {
    position: relative;

    width: 50vw;
    height: 5rem;

    display: flex;

    border-radius: 5px;
}

.todoInput {
    flex: 1;

    height: 100%;

    padding: 1rem;

    border: none;
    border-radius: 5px;

    background-color: lightgray;
}

.addTodoButton {
    position: absolute;
    right: 0;

    width: 0;
    height: 100%;

    border: none;
    border-radius: 5px;

    background-color: darkgray;

    transition: width 0.3s;
}

.addTodoButton:hover {
    background-color: gray;
}

.todoForm:hover .addTodoButton,
.todoForm:focus-within .addTodoButton {
    width: 5rem;
}
