.page {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 50vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    text-align: center;
}

.main {
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.addTodoSection {
    width: 50vw;
    height: 5rem;

    display: flex;

    border-radius: 5px;

    overflow: hidden;
}

.todoInput {
    flex: 1;

    height: 100%;

    padding: 1rem;

    border: none;

    outline: none;

    background-color: lightgray;
}

.addTodoButton {
    width: 5rem;
    height: 100%;

    font-size: 42px;
    line-height: 42px;

    border: none;
    border-radius: 0;

    background-color: darkgray;
}

.addTodoButton:hover {
    background-color: gray;
}

.todoListSection {
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 5px;

    overflow: hidden;

    background-color: lightgray;
}

.listOptions {
    width: 50vw;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    border-radius: 5px;

    background-color: lightgray;
}

.listFilters {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filterButton {
    cursor: pointer;

    text-decoration: underline 2px;

    border: none;

    background: none;
}

.clearCompleteButton {
    cursor: pointer;

    text-decoration: underline 2px;

    border: none;

    background: none;
}

.todoItem {
    height: 5rem;

    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: lightgray;
}

.todoText {
    flex: 1;

    padding: 1rem;
}

.completed {
    text-decoration: line-through 2px;
}

.hidden {
    display: none;
}

.footer {
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 12px;
}
