.page {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    text-align: center;
}

.main {
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.addTodoSection {
    width: 40vw;
    height: 5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    border: solid 2px black;
    border-radius: 10px;
}

.todoInput {
    flex: 1;

    height: 100%;

    padding: 1rem;

    border: none;
    border-radius: 10px 0 0 10px;

    outline: none;
}

.addTodoButton {
    width: 5rem;
    height: 100%;

    border: none;
    border-radius: 0 10px 10px 0;
}

.todoListSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    list-style: none;
}

.todoItem {
    width: 40vw;
    height: 5rem;

    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    border: solid 2px black;
    border-radius: 10px;
}

.todoButton {
    height: 4rem;
    width: 4rem;

    border: solid 2px black;
    border-radius: 50%;

    background-color: white;
}

.footer {
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 12px;
}
