.todoItem {
    height: 5rem;

    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: lightgray;
}

.todoText {
    padding: 1rem;
}

.completed {
    position: relative;
}

.completed::after {
    content: '';

    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: black;

    animation: linethrough 0.5s;
}

@keyframes linethrough {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.hidden {
    display: none;
}
